/* notes for future self as I ran out of time to finish what i want. Add an image background
in css. try to get picture to align to the left with text filling
out the right within .aboutbox. Also write a better paragraph within that section.
Later adjust the about me header to sit on the left and have a different stylebackground to
said heading. Also, play with differnt background colors for the boxes and take some better
photos of yourself. Add in hover effects on the project boxes.*/

:root {
    --background: rgb(196, 180, 203);
    --popcolor: rgb(236, 100, 236);
    --baase-font: 'Calibri', sans-serif;
    --heading-font: 'Helvetica', serif;
}

body {
    background-color: var(--background);
    font-family: var(--baase-font);
    font-size: 110%;
}
/* navigation area starts here */
.titlediv {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 5px;
    border: 5px solid purple;
    margin: 20px;
    list-style-type: none;
}

.titlediv h1 {
    margin-right: 20px;
    color: rgb(74, 7, 69);
}

.navbox {
    display: flex;
    align-content: center;
}

.navitem {
   margin-right: 10px;
   padding: 5px 10px;
   border-radius: 5px;
}
/* navigation ends here */

/* about me begins here */
/* need to re-adjust later to make last box on page not stretch so far and center on the page */
.aboutbox {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    border: 5px solid purple;
    gap: 5%;
    width: 75%;
    margin: auto;
}

.aboutbox h2 {
    color: rgb(19, 3, 143);
}

#jphoto {
    max-width: 70%;
    align-self: center;
}


h2 {
    display: flex;
    position: flex;
    justify-content: center;

}
/* aboutme ends here */

/* projects board begins here */
.projectsbox {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.cardprojects {
    background: url("../assets/img_1402.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 1 200px;
    border: 2px dashed purple;
    color: var(--popcolor);
    padding: 0 15px 15px;
    margin: 0 20px 40px;
    justify-items: center;
}

.projectsbox #main {
    background: url("../assets/horiseon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex: 2 2 600px;
    padding: 5%;
    font-size: larger;
}
/* #horiseon used to move title in box further up */
#horiseon {
    top: -65px
}
/* used to style the boxes within .projectsbox  */
#poris {
    background-color: aqua;
    border: solid navy;
    border-radius: 8px;
    position: relative;
    top: 60px;
}
/* used to adjust text in the titles for the project box */
.cardprojects h3 {
    font-size: 120%;
    border: 2px solid navy;
    border-radius: 8px;
    text-align: center;
    position: relative;
    top: -18px;
    background-color: aqua;
}
/* projects board ends here */
